@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: Roboto;
}


/* Establezca la altura del cuerpo y del documento al 100% para habilitar las "pestañas de página completa". */
body, html {
  height: 100%;
  margin: 0;
}

/* Establezca estilos para la barra de navegación */
.BoxNavs {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.BoxNavs:hover {
  background-color: #777;
}

/* Diseñe el contenido de la pestaña (y agregue altura: 100% para el contenido de la página completa) */
.Box {
  color: rgb(0, 0, 0);
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Inicio {background-color: rgb(255, 255, 255);}
#ValidarTarjeta {background-color: rgb(255, 255, 255);}
#BloquearTarjeta {background-color: rgb(255, 255, 255);}
#Contactanos {background-color: rgb(255, 255, 255);}


/* PIE DE PAGINA */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(46, 48, 47);
  color: white;
  text-align: center;
  font-size: xx-small;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* ICONOS DE REDES SOCIALES*/
.redSocial{
  width: 1.125rem;
}