@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Establezca la altura del cuerpo y del documento al 100% para habilitar las "pestañas de página completa". */
body, html {
  height: 100%;
  margin: 0;
}

/* Establezca estilos para la barra de navegación */
.BoxNavs {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  font-family: Roboto;
}

.BoxNavs:hover { /* Lo que cambiará cuando pase el cursor*/
  background-color: #777;
  font-family: Roboto;
}


/* Diseñe el contenido de la pestaña (y agregue altura: 100% para el contenido de la página completa) */
.Box {
  color: rgb(0, 0, 0);
  display: none;
  padding: 100px 20px;
  height: 100%;
  font-family: Roboto;
}

#Inicio {background-color: rgb(255, 255, 255);}
#ValidarTarjeta {background-color: rgb(255, 255, 255);}
#BloquearTarjeta {background-color: rgb(255, 255, 255);}
#Contactanos {background-color: rgb(255, 255, 255);}

/*Logos*/
.LogoGifContac {
    width: 200px;
}
.LogoRecBlanco{
  width: 200px;
}
.LogoCuadrado{
  width: 200px;
}

/* PIE DE PAGINA */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(46, 48, 47);
  color: white;
  text-align: center;
  font-size: xx-small;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
}
/* ICONOS DE REDES SOCIALES*/
.redSocial{
  width: 1.125rem;
}

/* ESTILO DE MAIN: BoxValidarTarjeta */

.ValidarTarjeta{
  height: 100%;
  background: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.BoxValidarTarjeta{
  width: 90%;
  max-width: 1000px; /* Asegura que el contenedor no sea demasiado grande*/
  padding: 40px20px;
  margin: auto; /* Para entrar la página de forma horizontal*/
  display:flex; /* Para trabajar con Flexbox para también usarlos en los elementos que contenga y moverlos*/
  flex-direction: column; /* Para que el elemento se ponga en columna, de lo contrario permaneceria como fila*/
  align-items: center; /* se podria usar justify-content: center, pero no podemos porque usamos flex-direction; y usamos align para centrarlo de forma horizontal*/
}

/*ESTILO DE LA TARJETA*/

.Tarjeta{
  width: 100%; 
  max-width: 550px; /* Para que no sea demasiado grande y estaria al mismo nivel que el box normal*/
  position:relative; /* Al elemento padre le ponemos position relative y luego al elemento hijo le ponemos position absolute para que no aparezca debajo*/
  color: white;
  transition: .4s ease all; /* tiempo y función*/
  transform: rotateY(0deg); /* para valor a la rotación y le ponemos 0 grados para que se quede fija en el eje */
  transform-style: preserve-3d; /*3d para agregarle el efecto de giro 3d */
  backface-visibility: hidden; /* nos permite que la parte de atras de la tarjeta este oculta cuando se gire*/
  cursor: pointer;/* para que suceda cuando se pase el cursero*/
  z-index: 2; /* nos permite establecer qué capa se muestre. 1:formulario  2:tarjeta 3:botón*/
  background: black;
}

.Tarjeta:hover {
  transform: rotateY(180deg); /* Para que cuando pase el cursor gire 180 grados*/
}
