@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Establezca la altura del cuerpo y del documento al 100% para habilitar las "pestañas de página completa". */
body, html {
  height: 100%;
  margin: 0;
}

/* Establezca estilos para la barra de navegación */
.BoxNavs {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  font-family: Roboto;
}

.BoxNavs:hover {
  background-color: #777;
  font-family: Roboto;
}


/* Diseñe el contenido de la pestaña (y agregue altura: 100% para el contenido de la página completa) */
.Box {
  color: rgb(0, 0, 0);
  display: none;
  padding: 100px 20px;
  height: 100%;
  font-family: Roboto;
}

#Inicio {background-color: rgb(255, 255, 255);}
#ValidarTarjeta {background-color: rgb(255, 255, 255);}
#BloquearTarjeta {background-color: rgb(255, 255, 255);}
#Contactanos {background-color: rgb(255, 255, 255);}

/*Logos*/
.LogoGifContac {
    width: 200px;
}
.LogoRecBlanco{
  width: 200px;
}
.LogoCuadrado{
  width: 200px;
}

/* PIE DE PAGINA */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(46, 48, 47);
  color: white;
  text-align: center;
  font-size: xx-small;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
}
/* ICONOS DE REDES SOCIALES*/
.redSocial{
  width: 1.125rem;
}

/* ESTILO DE MAIN: BoxValidarTarjeta */

.ValidarTarjeta{
  height: 100%;
  background: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.BoxValidarTarjeta{
  width: 90%;
  max-width: 1000px;
  padding: 40px20px;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

/*ESTILO DE LA TARJETA*/

.Tarjeta{
  width: 100%;
  max-width: 550px;
  position:relative;
  color: white;
  transition: .4s ease all;
  transition: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  cursor: pointer;
  z-index: 2;
  background: black;
}

.Tarjeta:hover {
  transform: rotateY(180deg);
}
